<div  style="--background: #f4f4f4;">
  <ion-grid>
    <ion-row >
      <ion-col  size-lg="10" size-md="10" size-sm="6" size="12">

       
        <ion-item lines="none" class="item1">
          <ion-searchbar style="padding: 0px;--box-shadow: none;">
          </ion-searchbar>
          <ion-icon name="options-outline" slot="end"></ion-icon>
        </ion-item>

      </ion-col>

      <ion-col    size-lg="2" size-md="2" size-sm="6" size="12">
        
          <ion-button  *ngFor="let btn of buttonList" [style.--background]="btn.bgColor" [style.--color]="btn.color" class="btn" (click)="onClickItem(btn.name)">
            <ion-icon [name]="btn.icon" style="height: 28px;width: 28px;"></ion-icon>
          </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>




</div>