.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
  }
  .collapsed {
    max-height: 0 !important;
  }
  .btn{
    width: 50px;--border-radius: 14px;--box-shadow: none !important
  }
  .item1{
    padding: 0px;--box-shadow: none !important;
    --border-radius: 15px
     ;
  }

  