
.cardLayout{
  border-radius: 15px;
  margin: 3px;
  height: 327px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  --background: #efefef;;
}

  @media only screen and (max-width: 600px) {
    .mobile{
      display: block;
    }
    
  }
 